name: CI Pipeline
on:
  push:
    branches: [ main, develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Send email
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.EMAIL_USERNAME }}
        password: ${{ secrets.EMAIL_PASSWORD }}
        subject: "Build Status - exercicio-gitflow"
        to: fe.dsm.vot.001@gmail.com
        from: samuel.pregnolatto@fatec.sp.gov.br
        body: "Pipeline executado com sucesso no branch ${{ github.ref_name }}!" 
